*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(240, 240, 240);
}
:root {
    --main-color:#fff;
    --a-hover:black;
}
header{
    width:100%;
    height: 100vh;
    background: url("images/slide04.jpg") center center fixed;
    background-size: cover;
    color:var(--main-color);
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.navigation .logo{
    font-size: 30px;
    margin-top:25px;
    flex-basis: 50%;
    transition: 0.5s;
}
.navigation .logo:hover{
    color:grey;
    cursor: pointer;
}
nav{
    flex-basis: 50%;
    margin-top: 25px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 7px 0;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color:var(--main-color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    color:var(--a-hover);
    background-color: rgb(229, 226, 226);
    padding: 10px 20px;
    border-radius: 20px;
}

.title{
    height: 250px;
    width: 80%;
    margin: auto;
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title p{
    font-size: 35px;
    margin-bottom: 20px;
}
.title hr{
    width: 350px;
    outline: none;
}
.title h1{
    font-size: 80px;
    margin-top: 15px;
}

#card{
    background-color: rgb(245, 245, 245);
    padding: 50px;
}
.card{
    display: flex;
    gap: 50px;
}
.card-box{
    flex-basis: 50%;
    background-color: var(--main-color);
    height: 600px;
    box-shadow: 2px 2px 5px grey;
}
.card-box figure{
    overflow: hidden;
    height: 300px;
}
.card-box img{
    transition: 0.5s;
    height: 300px;
}
.card-box img:hover{
    transform: scale(1.3);
}

.content{
    padding: 25px;
    text-align: center;
}

.content p{
    color: grey;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content h2{
    margin-top: 10px;
}
.content .para{
    font-size: 18px;
    text-align: justify;
    text-transform:initial;
    letter-spacing: initial;
}

.content .btn{
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background-color: rgb(226, 224, 224);
    transition: 0.5s;
}

.content .btn:hover{
    background-color: black;
    color: var(--main-color);
}

/* quote */
#quote{
    background: url("images/bg.jpg") center center fixed;
    background-size: cover;
    height: 300px;
    margin: 50px 0;
    color: var(--main-color);
}
#quote .row{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.row p{
    font-size: 25px;
    letter-spacing: 2px;
}
.row hr{
    width: 550px;
    margin:15px 0;
}

.row h2{
    font-size: 35px;
}


/* gallery */
#gallery{
    width: 90%;
    margin: auto;
    text-align: center;
}
#gallery h1{
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px 0 20px 0;
}

#gallery figure img{
    width:525px;
    height: 250px;
    margin: 25px;
    border: 15px solid var(--main-color);
}


/* footer */
#footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
#footer p{
    font-size: 25px;
    color: grey;
}






